<div class="row">
    <div class="col-6 p-5">
        <!-- image -->
        <img src="https://static.vecteezy.com/system/resources/previews/000/664/786/non_2x/creative-company-s-office-vector.jpg" height="400px" alt="">
    </div>
    <div class="col-6">
        
        <!-- login form -->
        
            <form (ngSubmit)="login()" #loginForm="ngForm" class="p-5 m-5  border border-1 shadow rounded">
                
                <div class="mb-3  " >
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input name="email" [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" email required #useremailinput="ngModel">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <!-- invalid email -->
                <div *ngIf="useremailinput.invalid && useremailinput.touched" class="my-3 text-danger fw-bolder">
                    <p>*Invalid Email</p>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input name="password" [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" required pattern="[a-zA-Z0-9]*" #userpasswordinput="ngModel">
                </div>
                 <!-- invalid Password -->
                 <div *ngIf="userpasswordinput.invalid && userpasswordinput.touched" class="my-3 text-danger fw-bolder">
                    <p>*Invalid Password</p>
                </div>
                <div class="text-center">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>

                </div>
              </form>
       
    </div>
</div>
